@{
    ViewBag.Title = "Contatti";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Mattia Semprini<br />
    
    <abbr title="Phone">P:</abbr>
    348 1228660
</address>

<address>
    <strong>Support:</strong>   <a href="mattia.sempro@gmail.com">mattia.sempro@gmail.com</a><br />
    
</address>