@model Semprini.Mattia._5i.WeatherApi.Models.JsonMeteo.Jsonmeteo
@{
    ViewBag.Title = "Inserisci la località";
}

@using(Html.BeginForm("Cerca", "Home"))
{
    <div>
        <fieldset>
            <legend>Inserisci una località</legend>
             
             <div class="editor-field">
                 
                 @Html.TextBoxFor(u => u.City, new { placeholder = "Inserisci qui la città" })
                 @Html.ValidationMessageFor(u => u.City)
                 
             </div>
            <input type="submit" class="btn btn-default" aria-label="Left Align" value="Ottieni meteo">
                
            
            
        </fieldset>
    </div>
}